charset-normalizer
git+https://github.com/Kareeeeem/jpglitch
git+https://github.com/TrustyJAID/aPRAW@setup-fix
httpx>=0.15,<0.25
matplotlib
mendeleev
moviepy
numpy
opencv-python
pillow
pyfiglet
python-dateutil
pytz
rapidfuzz
reactivepy>=1.9.0.dev0
skyfield
tabulate
tekore
tweepy[async]>=4.10.0
unidecode
wand
yt-dlp
