git+https://github.com/Kareeeeem/jpglitch
git+https://github.com/TrustyJAID/aPRAW@setup-fix
mendeleev
moviepy
numpy
opencv-python
pillow
pyfiglet
python-dateutil
pytz
rapidfuzz
reactivepy>=1.9.0.dev0
skyfield
tabulate
tekore
tweepy>=4.10.0
Unidecode
unidecode
wand
youtube-dl
